<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Italok</title>
    <style>
        .table{
            border-color: aqua;
            border-style: dotted;
            background-color: blue;
            padding: 20px;
            border: 2px;
        }
        td{
            border: 2px;
            border-style: dotted;
            border-color: aquamarine;
        }

    </style>
</head>
<body>
<table class="table">
    <tr>
        <td>Coca-cola</td>
        <td>Pepsi</td>
        <td>Mirinda</td>
        <td>Sprite</td>
    </tr>
    <tr>
        <td>Almalé</td>
        <td>Meggylé</td>
        <td>Répalé</td>
        <td>Ananászlé</td>
    </tr>
    <tr>
        <td>Szénsavas víz</td>
        <td>Szénsavmentes víz</td>
        <td>Lúgos víz</td>
        <td>Nehézvíz</td>
    </tr>
</table>
</body>
</html>