<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Önkiszolgáló kassza</title>
</head>
<body style="background-image: url(/images/kassza/hatter.jpg)" th:src = "@{/images/kassza/hatter.jpg}">
<h1 style="text-align: center">Üdvözöljük!</h1>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-7" style="border: 3px solid black; background-color: whitesmoke">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>
            <table class="table table-blue table-striped">
                <thead>
                <tr style="font-size: 30px; border: 3px solid black">
                    <h3>Kosár tartalma:</h3></tr>
                <tr >
                    <td>Termék neve</td>
                    <td>Egység Ár</td>
                    <td>Darab</td>
                    <!--                    <td th:text="${termek.mennyiseg}">10.0</td>-->

                </tr>
                </thead>
                <tbody>
                <tr th:each="termekmennyiseg : ${kosar.getTermekMennyisegDtoList()}">
                    <th scope="col" th:text ="${termekmennyiseg.nev}">Termék neve</th>
                    <th scope="col"  th:text ="${termekmennyiseg.ar}">Ár</th>
                    <th scope="col" th:text = "${termekmennyiseg.mennyiseg}">Mennyiség</th>
                    <th scope="col"></th>

                    <td>
                        <div class="row">
                            <div class="col">
                                <form th:action="@{'/kassza/{kosarId}/modosit/{termekMId}'(kosarId=${kosar.kosarId},termekMId =${termekmennyiseg.termekMennyisegId})}" method="get">
                                    <input type="submit" class="btn btn-success" value="Módosít"/>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="@{'/kassza/{kosarId}/delete/{termekMId}'(kosarId=${kosar.kosarId},termekMId =${termekmennyiseg.termekMennyisegId})}" method="post">
                                    <input type="submit" class="btn btn-danger" value="Törlés"/>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>


                </tbody>
            </table>
            <hr>
            <h3 th:text="${isTermekMennyisegEdit} ? 'Termék mennyiség módosítás' : 'Új termék hozzáadása'">Új termék hozzáadása</h3>
            <form class="row"
                  th:action="${isTermekMennyisegEdit} ? @{'/kassza/{kosarId}/modosit' (kosarId=${kosar.kosarId})} : @{'/kassza/{kosarId}/addtermek' (kosarId=${kosar.kosarId})}" method="post"
                  th:object="${termekMennyisegHozzaadasCommand}"
            >
                <div class="col">
                    <label>
                        <select th:field="*{vonalkod}" class="form-select"  th:hidden="${isTermekMennyisegEdit}">
                            <option th:selected="${type.vonalkod == termekMennyisegHozzaadasCommand.vonalkod}"
                                    th:each="type : ${allTermek}"
                                    th:value="${type.vonalkod}"
                                    th:text="${type.megnevezes} + '  (' + ${type.mennyiseg} +')'"></option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="text"
                               class="form-control"
                               placeholder="Mennyiség"
                               th:field="*{mennyiseg}"
                               th:classappend="${#fields.hasErrors('mennyiseg')} ? 'is-invalid' : 'is-valid'"/>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('mennyiseg')}"
                             th:errors="*{mennyiseg}">
                            Hibaüzenet
                        </div>
                    </label>
                </div>
                <div class="col">
                    <input class="btn btn-primary" type="submit" th:value="${isTermekMennyisegEdit} ? 'Módosít' : 'Hozzáad'"/>
                </div>
            </form>
            <hr>
        </div>
        <div class="col-2">
        </div>
        <div class="col-3" style="font-size: 50px;text-align: center;border: 3px solid black; background-color: whitesmoke" th:text="${kosar.getUtolsoHozzaadottTermekmennyisegDto() == null} ? 'Aktuálisan hozzáadott termék neve' : ${kosar.getUtolsoHozzaadottTermekmennyisegDto().getNev()} + ' ' + ${kosar.getUtolsoHozzaadottTermekmennyisegDto().getMennyiseg()} + ' db'">  <!--th:text="${kosar.getTermekMennyisegDtoList().size() == 0} ? 'Aktuálisan hozzáadott termék neve' : ${kosar.getTermekMennyisegDtoList().get(kosar.getTermekMennyisegDtoList().size()-1).getNev()} + ' ' + ${kosar.getTermekMennyisegDtoList().get(kosar.getTermekMennyisegDtoList().size()-1).getMennyiseg()} + ' db'"> -->
            Aktuálisan hozzáadott termék neve
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="text-align: center; font-size: 30px">
        <div class="col-7" style="background-color: yellow; border: 3px black" th:text="'Végösszeg: '+${kosar.vegosszeg}+'Ft'" >
            Végösszeg: 0 Ft
        </div>
        <div class="col-1">
        </div>
        <div class="col-2" style="text-align: center; font-size: 30px">
            <a type="button" class="btn btn-danger" href="bankkartyaUrlap.html" th:href="@{/kassza/bankkartyaUrlap}">fizetés bankkártyával</a>
        </div>
        <div class="col-2">
            <a type="button" class="btn btn-success" href="visszaigazolas.html" th:href="@{/kassza/visszaigazolas}">fizetés készpénzzel</a>
        </div>
    </div>
</div>
</body>
</html>