<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pékáru</title>
</head>
<body>
<img src="pekaru.jpg" style="align-content: center">


<div class="list-group" style="text-align: center">
    <button type="button" class="list-group-item list-group-item-action" style="background-color: lightskyblue; color: black;width: 400px">Kenyér</button><br>
    <button type="button" class="list-group-item list-group-item-action" style="background-color: whitesmoke;width: 400px">Kifli,zsemle</button><br>
    <button type="button" class="list-group-item list-group-item-action" style="background-color: lightskyblue;width: 400px">Bagett</button><br>
    <button type="button" class="list-group-item list-group-item-action" style="width: 400px; background-color: whitesmoke">Fánkok</button><br>
    <button type="button" class="list-group-item list-group-item-action" style="background-color: lightskyblue;width: 400px">Fornetti</button><br>
</div>


</body>
</html>