<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Közös projekt</title>
    <style>
        .button-76 {
            border-radius: 8px;
            bottom: 0;
            right: 0;
            background-color: whitesmoke;
            border: 0;
            border-radius: .25rem;
            box-sizing: border-box;
            color: #0ca3d2;
            cursor: pointer;
            font-family: Helvetica;
            font-size: 1.125rem; /* 18px */
            font-weight: 600;
            line-height: 1.75rem; /* 28px */
            padding: 1rem 1.25rem;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        .button-76:disabled {
            background-color: whitesmoke;
        }

        .button-76:hover:enabled {
            background-color: #0ca3d2;
            color: white;
        }

        @media (min-width: 1024px) {
            .button-76 {
                font-size: 1.5rem; /* 24px */
                padding: 1rem 1.5rem;
                line-height: 2rem; /* 32px */
            }
        }
    </style>
</head>
<body>
<h1 style="background-color: #0ca3d2; text-align: center; color: white">Felhasználók szerkesztése</h1>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<table class="table table-striped" th:if="${hasUserReadRole}">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Felhasználónév</th>
        <th scope="col">Role</th>
        <th scope="col">Hitelesítőkód</th>
        <th scope="col">Módosítás</th>
        <th scope="col">Törlés</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="felhasznalo : ${allFelhasznalo}">
        <th scope="row" th:text="${felhasznalo.id}">1</th>
        <td th:text="${felhasznalo.nev}">Minta név</td>
        <td th:text="${felhasznalo.role}">ADMIN</td>
        <td th:text="${felhasznalo.hitelesitoKod.isEmpty() ? 'Nincs' : felhasznalo.hitelesitoKod }">Kód</td>
        <td>
            <form th:if="${hasUserWriteRole}"
                  th:action="@{'/felhasznalo/modosit/{id}'(id=${felhasznalo.id})}" method="get">
                <input type="submit" class="btn btn-primary" th:href="@{/felhasznalo}" value="Modosít"/>
            </form>
        </td>
        <td>
            <form th:if="${hasUserWriteRole}"
                  th:action="@{'/felhasznalo/delete/{id}'(id=${felhasznalo.id})}" method="post">
                <input type="submit" class="btn btn-danger" th:href="@{/felhasznalo}" value="Törlés"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<hr>
<br>
<br>
<br>
<div th:if="${modositFelhasznalo.felhasznaloId == null}">
    <h3 th:if="${hasUserWriteRole}" style="text-align: center; color: darkblue">Új felhasználó létrehozása</h3>
    <br>
    <br>
    <br>
    <form th:if="${hasUserWriteRole}"
          th:action="@{/felhasznalo}" method="post" th:object="${ujFelhasznaloCommand}" style="position: fixed; left: 300px; right: auto">
        <div class="form-row">
            <div th:if="${ujFelhasznaloError != null}"
                 class="alert alert-danger"
                 th:text="${ujFelhasznaloError}">
                Hibaüzenet
            </div>
            <label>Felhasználónév
                <input type="text"
                       class="form-control"
                       name="nev"
                       placeholder="Felhasználónév"
                       th:field="*{nev}"/>
            </label>
            <label>Jelszó
                <input type="password"
                       class="form-control"
                       name="jelszo"
                       placeholder="Jelszó"
                       th:field="*{jelszo}"/>
            </label>
            <label>Role
                <select th:field="*{role}" class="form-select">
                    <option th:each="roleOption : ${allRole}" th:value="${roleOption}" th:text="${roleOption}"></option>
                </select>
            </label>
            <label>Hitelesítő kód
                <input type="text"
                       class="form-control"
                       name="hitelesitoKod"
                       placeholder="Hitelesítő kód"
                       th:field="*{hitelesitoKod}"/>
            </label>
            <input class="btn btn-primary" type="submit" value="Hozzáad"/>
        </div>
    </form>
</div>

<div th:if="${modositFelhasznalo.felhasznaloId != null}">
    <h3 th:if="${hasUserWriteRole}">Felhasználó adatainak módosítása</h3>
    <form th:if="${hasUserWriteRole}"
          th:action="@{'/felhasznalo/modosit/{felhasznaloId}' (felhasznaloId =${modositFelhasznalo.felhasznaloId})}"
          method="post" th:object="${modositFelhasznalo}">
        <div class="form-row">
            <label th:hidden="true">
                <input type="text"
                       class="form-control"
                       name="nev"
                       placeholder="Felhasználónév"
                       th:field="*{felhasznaloId}"
                       th:disabled="true"/>
            </label>
            <label>Felhasználónév
                <input type="text"
                       class="form-control"
                       name="nev"
                       placeholder="Felhasználónév"
                       th:field="*{nev}"
                       th:disabled="true"/>
            </label>
            <label>Role
                <select th:field="*{role}" class="form-select">
                    <option th:selected="${modositFelhasznalo.role}"
                            th:each="roleOption : ${allRole}" th:value="${roleOption}" th:text="${roleOption}"></option>
                </select>
            </label>
            <label>Hitelesitő kód
                <input type="text"
                       class="form-control"
                       name="hitelesitoKod"
                       placeholder="Hitelesítő kód"
                       th:field="*{hitelesitoKod}"/>
            </label>
            <input class="btn btn-primary" type="submit" value="Módosít"/>
        </div>
    </form>
</div>

<form th:action="@{/}" style="padding-top: 2%">
    <div id="back-button" class="position-relative" style="text-align: center">
        <button class="button-76" style="position: fixed; bottom: 0; width: 400px; left: 550px;" type="submit">VISSZA
        </button>
    </div>
</form>

</body>
</html>